.searchBox {
    width: 30%;
    display: inline-block;
    float: left;
    height: 100%;
    overflow-y: scroll;
  }
  .searchBoxHide {
    width: 0px;
    display: none;
    overflow: hidden;
  }
  
  
  .variableRangeBox{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgb(238,238,238);
    position: absolute;
    top: 30px;
    left: 25%;
  }
  .variableRangeBoxHide{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: rgb(238,238,238);
    position: relative;
    /* position: absolute;
    top: 30px;
    left: 25%; */
  }
  .variableRange{
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    /* top:50%;
    left: 0;
    margin-top: -20px; */
    font-size: 14px;
    font-style: normal;
    text-align: center;
    line-height: 40px;
    /* background: #cacaca; */
    background: #fff;
    /* border: 2px solid #afcdec;
    border-left-color: #cacaca */
  }
  
  .variableRange::before{
    content: "\E620";
    display: inline-block;
    font-family: "anticon" !important;
    box-sizing: border-box;
    width: 20px;
    height: 40px;
  }
  .variableRange:hover{
    cursor: pointer;
    background-color: #096dd9;
    color: white;
  }
  .variableRangeHide{
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    line-height: 40px;
    background: #cacaca;
    /* border: 2px solid #afcdec; */
  }
  
  .variableRangeHide::before{
    content: "\E61F";
    display: inline-block;
    font-family: "anticon" !important;
    box-sizing: border-box;
    width: 20px;
    height: 40px;
  }
  .variableRangeHide:hover{
    cursor: pointer;
    background-color: #096dd9;
    color: white;
  }
  