.topBtns {
  margin-bottom: 10px;
}

.bottomBtns {
  margin: 20px;
  clear: both;
  text-align: center;
}

.rightBtn {
  float: right;
}

.leftBtn {
  float: left;
}

.middleBtn {
  text-align: center;
}

.middleWrapper {
  text-align: center;
}

.switchWrapper {
  margin-bottom: 20px;
}
