@basePath: '/img/icon';

:global {

  .icon-common {
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    // original size : 1200 * 400
    background-image: url("@{basePath}/component_icons.png");
    background-position: 100px 100px;
  }

  .x-icon {
    @width: 86;
    @height: 86;
    width: @height*1px;
    height: @width*1px;
    .icon-common;
    margin: 6px auto;
    background-size: 1200%;

    &.icon-csv-source {
      background-position: @width*-1px @height*-3px;
    }

    &.icon-classifier-boost-tree {
      background-position: @width*-3px @height*-1px;
    }

    &.icon-classifier-cv {
      background-position: @width*-6px @height*-1px;
    }

    &.icon-classifier-decision-tree {
      background-position: 0 @height*-1px;
    }

    &.icon-classifier-hashingtf {
      background-position: @width*-4px @height*-1px;
    }

    &.icon-classifier-logistic-regression {
      background-position: @width*-7px @height*-1px;
    }

    &.icon-classifier-model-metrics {
      background-position: @width*-8px @height*-1px;
    }

    &.icon-classifier-naive-bayes {
      background-position: @width*-9px @height*-1px;
    }

    &.icon-classifier-nn {
      background-position: @width*-10px @height*-1px;
    }

    &.icon-classifier-random-forest {
      background-position: @width*-1px @height*-1px;
    }

    &.icon-classifier-svm {
      background-position: @width*-11px @height*-1px;
    }

    &.icon-classifier-word-split {
      background-position: @width*-5px @height*-1px;
    }

    &.icon-classifier-xg-boost {
      background-position: @width*-2px @height*-1px;
    }

    &.icon-clustering-bisecting-means {
      background-position: @width*-10px @height*-2px;
    }

    &.icon-clustering-kmeans {
      background-position: @width*-11px @height*-2px;
    }

    &.icon-datasink-avro {
      background-position: 0 @height*-3px;
    }

    &.icon-datasink-csv {
      background-position: @width*-1px @height*-3px;
    }

    &.icon-datasink-db {
      background-position: @width*-3px @height*-3px;
    }

    &.icon-datasink-parquet {
      background-position: @width*-2px @height*-3px;
    }

    &.icon-datasource-avro {
      background-position: @width*-4px @height*-3px;
    }

    &.icon-datasource-csv {
      background-position: @width*-5px @height*-3px;
    }

    &.icon-datasource-db {
      background-position: @width*-7px @height*-3px;
    }

    &.icon-datasource-parquet {
      background-position: @width*-6px @height*-3px;
    }

    &.icon-model-default {
      background-position: @width*-10px @height*-3px;
    }

    &.icon-prediction-common {
      background-position: @width*-3px @height*-8px;
    }

    &.icon-preparation-add-column {
      background-position: @width*-9px 0;
    }

    &.icon-preparation-add-null {
      background-position: @width*-2px 0;
    }

    &.icon-preparation-filter {
      background-position: @width*-4px 0;
    }

    &.icon-preparation-fn {
      background-position: @width*-6px;
    }

    &.icon-preparation-join {
      background-position: 0 0;
    }

    &.icon-preparation-random-split {
      background-position: @width*-7px 0;
    }

    &.icon-preparation-rename {
      background-position: @width*-10px 0;
    }

    &.icon-preparation-select {
      background-position: @width*-8px 0;
    }

    &.icon-preparation-split-column {
      background-position: @width*-3px 0;
    }

    &.icon-preparation-transform {
      background-position: @width*-11px 0;
    }

    &.icon-preparation-union {
      background-position: @width*-1px 0;
    }

    &.icon-preparation-unique {
      background-position: @width*-5px 0;
    }

    &.icon-regression-boost-tree {
      background-position: @width*-3px @height*-2px;
    }

    &.icon-regression-cv {
      background-position: @width*-4px @height*-2px;
    }

    &.icon-regression-decision-tree {
      background-position: 0 @height*-2px;
    }

    &.icon-regression-linear-regression {
      background-position: @width*-8px @height*-2px;
    }

    &.icon-regression-model-metrics {
      background-position: @width*-5px @height*-2px;
    }

    &.icon-regression-naive-bayes {
      background-position: @width*-6px @height*-2px;
    }

    &.icon-regression-nn {
      background-position: @width*-7px @height*-2px;
    }

    &.icon-regression-random-forest {
      background-position: @width*-1px @height*-2px;
    }

    &.icon-regression-svm {
      background-position: @width*-9px @height*-2px;
    }

    &.icon-regression-xg-boost {
      background-position: @width*-2px @height*-2px;
    }

    &.icon-tuning-cv {
      background-position: @width*-9px @height*-3px;
    }
  }

  .x-icon-small {
    @width: 52;
    @height: 52;
    width: @width*1px;
    height: @height*1px;
    padding: 4px 0;
    margin: 5px auto;
    .icon-common;
    background-size: 1200%;
    background-image: url("@{basePath}/component_icons.png");

    &.icon-csv-source {
      background-position: @width*-1px @height*-3px;
    }

    &.icon-classifier-boost-tree {
      background-position: @width*-3px @height*-1px;
    }

    &.icon-classifier-cv {
      background-position: @width*-6px @height*-1px;
    }

    &.icon-classifier-decision-tree {
      background-position: 0 @height*-1px;
    }

    &.icon-classifier-hashingtf {
      background-position: @width*-4px @height*-1px;
    }

    &.icon-classifier-logistic-regression {
      background-position: @width*-7px @height*-1px;
    }

    &.icon-classifier-model-metrics {
      background-position: @width*-8px @height*-1px;
    }

    &.icon-classifier-naive-bayes {
      background-position: @width*-9px @height*-1px;
    }

    &.icon-classifier-nn {
      background-position: @width*-10px @height*-1px;
    }

    &.icon-classifier-random-forest {
      background-position: @width*-1px @height*-1px;
    }

    &.icon-classifier-svm {
      background-position: @width*-11px @height*-1px;
    }

    &.icon-classifier-word-split {
      background-position: @width*-5px @height*-1px;
    }

    &.icon-classifier-xg-boost {
      background-position: @width*-2px @height*-1px;
    }

    &.icon-clustering-bisecting-means {
      background-position: @width*-10px @height*-2px;
    }

    &.icon-clustering-kmeans {
      background-position: @width*-11px @height*-2px;
    }

    &.icon-datasink-avro {
      background-position: 0 @height*-3px;
    }

    &.icon-datasink-csv {
      background-position: @width*-1px @height*-3px;
    }

    &.icon-datasink-db {
      background-position: @width*-3px @height*-3px;
    }

    &.icon-datasink-parquet {
      background-position: @width*-2px @height*-3px;
    }

    &.icon-datasource-avro {
      background-position: @width*-4px @height*-3px;
    }

    &.icon-datasource-csv {
      background-position: @width*-5px @height*-3px;
    }

    &.icon-datasource-db {
      background-position: @width*-7px @height*-3px;
    }

    &.icon-datasource-parquet {
      background-position: @width*-6px @height*-3px;
    }

    &.icon-model-default {
      background-position: @width*-10px @height*-3px;
    }

    &.icon-prediction-common {
      background-position: @width*-3px @height*-8px;
    }

    &.icon-preparation-add-column {
      background-position: @width*-9px 0;
    }

    &.icon-preparation-add-null {
      background-position: @width*-2px 0;
    }

    &.icon-preparation-filter {
      background-position: @width*-4px 0;
    }

    &.icon-preparation-fn {
      background-position: @width*-6px;
    }

    &.icon-preparation-join {
      background-position: 0 0;
    }

    &.icon-preparation-random-split {
      background-position: @width*-7px 0;
    }

    &.icon-preparation-rename {
      background-position: @width*-10px 0;
    }

    &.icon-preparation-select {
      background-position: @width*-8px 0;
    }

    &.icon-preparation-split-column {
      background-position: @width*-3px 0;
    }

    &.icon-preparation-transform {
      background-position: @width*-11px 0;
    }

    &.icon-preparation-union {
      background-position: @width*-1px 0;
    }

    &.icon-preparation-unique {
      background-position: @width*-5px 0;
    }

    &.icon-regression-boost-tree {
      background-position: @width*-3px @height*-2px;
    }

    &.icon-regression-cv {
      background-position: @width*-4px @height*-2px;
    }

    &.icon-regression-decision-tree {
      background-position: 0 @height*-2px;
    }

    &.icon-regression-linear-regression {
      background-position: @width*-8px @height*-2px;
    }

    &.icon-regression-model-metrics {
      background-position: @width*-5px @height*-2px;
    }

    &.icon-regression-naive-bayes {
      background-position: @width*-6px @height*-2px;
    }

    &.icon-regression-nn {
      background-position: @width*-7px @height*-2px;
    }

    &.icon-regression-random-forest {
      background-position: @width*-1px @height*-2px;
    }

    &.icon-regression-svm {
      background-position: @width*-9px @height*-2px;
    }

    &.icon-regression-xg-boost {
      background-position: @width*-2px @height*-2px;
    }

    &.icon-tuning-cv {
      background-position: @width*-9px @height*-3px;
    }
  }
}
