.selectionDiv {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #000;
}

.pointDiv {
  text-align: center;
  position: absolute;
  color: #000;
  border: 2px solid #262626;
  left: 0;
  top: 0;
  border-radius: 10px;
  //  transition: width 0.2s, height 0.2s;
}

.nodeDiv {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 10px;
  box-shadow: 6px 6px 3px #acacacaa;
}
