.drawer {
  position: relative;
  height: 100%;

  .sider {
    width: 300px;
    height: 100%;
    background: #fff;

    :global(.ant-tabs-nav-wrap) {
      background: #fafafa;
    }

    .siderTop {
      :global(.ant-list-item:hover), .selectedItem {
        background-color: #1890ff;
        color: #fff;
        cursor: pointer;
        transition: color 0.2s, background-color 0.2s;
        -webkit-transition: color 0.2s, background-color 0.2s;

        .name {
          color: #ddd;
        }
      }

      .tableName {
        font-weight: 500;
      }
      .name {
        font-style: italic;
        color: #aaa;
      }
    }
  }
}
