.settingsForm {
  padding: 10px;

  :global(.slim-btn) {
    padding: 0 8px;
  }

  :global(.arr-row) {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .hideInnerSpan {
    :global {
      span {
        display: none
      }
    }
  }

  input {
    min-height: 100%;
    z-index: 1;
    font-family: "Helvetica Neue For Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
    &:focus {
      border-color: #40a9ff;
      outline: 0;
      -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
  }

  :global {
    input[type="radio"], input[type="checkbox"] {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      width: 18px;
      height: 18px;
      margin-right: 5px;

      &&::selection {
        background: #1890ff;
        color: #fff;
      }
    }

    legend {
      line-height: 32px;
    }

    .radio label,
    .radio-inline label,
    .checkbox label,
    .checkbox-inline label {
      padding-left: 25px;
    }

    .radio input[type="radio"],
      .radio input[type="checkbox"],
      .radio-inline input[type="radio"],
      .radio-inline input[type="checkbox"],
      .checkbox input[type="radio"],
      .checkbox input[type="checkbox"],
      .checkbox-inline input[type="radio"],
      .checkbox-inline input[type="checkbox"] {
      margin-left: -25px;
    }

    input[type="radio"],
    .radio input[type="radio"],
    .radio-inline input[type="radio"] {
      position: relative;
      margin-right: 4px;
      vertical-align: top;
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
    }

    input[type="radio"]:focus,
    .radio input[type="radio"]:focus,
    .radio-inline input[type="radio"]:focus {
      outline: none;
    }

    input[type="radio"]:before, input[type="radio"]:after,
    .radio input[type="radio"]:before,
    .radio input[type="radio"]:after,
    .radio-inline input[type="radio"]:before,
    .radio-inline input[type="radio"]:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      -webkit-transition: 240ms;
      transition: 240ms;
    }

    input[type="radio"]:before,
    .radio input[type="radio"]:before,
    .radio-inline input[type="radio"]:before {
      position: absolute;
      left: 0;
      top: -2px;
      background-color: #2196f3;
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    input[type="radio"]:after,
    .radio input[type="radio"]:after,
    .radio-inline input[type="radio"]:after {
      position: relative;
      top: -2px;
      border: 2px solid #bbb;
    }

    input[type="radio"]:checked:before,
    .radio input[type="radio"]:checked:before,
    .radio-inline input[type="radio"]:checked:before {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }

    input[type="radio"]:disabled:checked:before,
    .radio input[type="radio"]:disabled:checked:before,
    .radio-inline input[type="radio"]:disabled:checked:before {
      background-color: #dee2e6;
    }

    input[type="radio"]:checked:after,
    .radio input[type="radio"]:checked:after,
    .radio-inline input[type="radio"]:checked:after {
      border-color: #2196f3;
    }

    input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
    .radio input[type="radio"]:disabled:after,
    .radio input[type="radio"]:disabled:checked:after,
    .radio-inline input[type="radio"]:disabled:after,
    .radio-inline input[type="radio"]:disabled:checked:after {
      border-color: #dee2e6;
    }

    input[type="checkbox"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
      position: relative;
      border: none;
      margin-top: 5px;
      margin-bottom: -4px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
    }

    input[type="checkbox"]:focus,
    .checkbox input[type="checkbox"]:focus,
    .checkbox-inline input[type="checkbox"]:focus {
      outline: none;
    }

    input[type="checkbox"]:focus:after,
    .checkbox input[type="checkbox"]:focus:after,
    .checkbox-inline input[type="checkbox"]:focus:after {
      border-color: #2196f3;
    }

    input[type="checkbox"]:after,
    .checkbox input[type="checkbox"]:after,
    .checkbox-inline input[type="checkbox"]:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      border: 2px solid #bbb;
      border-radius: 2px;
      -webkit-transition: 240ms;
      transition: 240ms;
    }

    input[type="checkbox"]:checked:before,
    .checkbox input[type="checkbox"]:checked:before,
    .checkbox-inline input[type="checkbox"]:checked:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 6px;
      display: table;
      width: 6px;
      height: 12px;
      border: 2px solid #fff;
      border-top-width: 0;
      border-left-width: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    input[type="checkbox"]:checked:after,
    .checkbox input[type="checkbox"]:checked:after,
    .checkbox-inline input[type="checkbox"]:checked:after {
      background-color: #2196f3;
      border-color: #2196f3;
    }

    input[type="checkbox"]:disabled:after,
    .checkbox input[type="checkbox"]:disabled:after,
    .checkbox-inline input[type="checkbox"]:disabled:after {
      border-color: #dee2e6;
    }

    input[type="checkbox"]:disabled:checked:after,
    .checkbox input[type="checkbox"]:disabled:checked:after,
    .checkbox-inline input[type="checkbox"]:disabled:checked:after {
      background-color: #dee2e6;
      border-color: transparent;
    }

    .has-error input, .has-error input:hover {
      border-color: #f5222d;
    }

    .text-lowercase {
      text-transform: lowercase !important;
    }

    .text-uppercase {
      text-transform: uppercase !important;
    }

    .text-capitalize {
      text-transform: capitalize !important;
    }

    .font-weight-light {
      font-weight: 300 !important;
    }

    .font-weight-normal {
      font-weight: 400 !important;
    }

    .font-weight-bold {
      font-weight: 700 !important;
    }

    .font-italic {
      font-style: italic !important;
    }

    .text-white {
      color: #fff !important;
    }

    .text-primary {
      color: #2780e3 !important;
    }

    a.text-primary:hover, a.text-primary:focus {
      color: #1967be !important;
    }

    .text-secondary {
      color: #373a3c !important;
    }

    a.text-secondary:hover, a.text-secondary:focus {
      color: #1f2021 !important;
    }

    .text-success {
      color: #3fb618 !important;
    }

    a.text-success:hover, a.text-success:focus {
      color: #2f8912 !important;
    }

    .text-info {
      color: #9954bb !important;
    }

    a.text-info:hover, a.text-info:focus {
      color: #7e3f9d !important;
    }

    .text-warning {
      color: #ff7518 !important;
    }

    a.text-warning:hover, a.text-warning:focus {
      color: #e45c00 !important;
    }

    .text-danger {
      color: #ff0039 !important;
    }

    a.text-danger:hover, a.text-danger:focus {
      color: #cc002e !important;
    }

    .text-light {
      color: #f8f9fa !important;
    }

    a.text-light:hover, a.text-light:focus {
      color: #dae0e5 !important;
    }

    .text-dark {
      color: #373a3c !important;
    }

    a.text-dark:hover, a.text-dark:focus {
      color: #1f2021 !important;
    }

    .text-muted {
      color: #868e96 !important;
    }

    .text-hide {
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
    }
  }
}
