@import '~antd/lib/style/themes/default.less';

.menuWrapper {
  z-index: 100;
  width: 100px;
  position: absolute;
  left: 840px;
  top: 190px;
  background: #fafafa;
  padding: 5px;
  box-shadow: 1px 2px #bfbfbf;

  & > .menuItem:hover {
    background: @primary-color;
    color: white;
  }

  & > .menuItem {
    cursor: pointer;
    padding: 5px;
    height: 30px;
    line-height: 20px;
    border-bottom: 1px solid #bfbfbf;
  }

  // no border on last one
  & > .menuItem:last-child {
    border-bottom: 0;
  }
}

.historyTitle {
  font-weight: 800;
  padding: 10px;
}

.historyOp {
  float: right;
  color: @primary-color;
}

// .historyList {
// }

.historyItem {
  padding: 10px;
  margin: 10px;
  background: white;

  &:hover {
    box-shadow: 2px 2px #bfbfbf;

    & > .operations {
      display: block;
    }
  }

  & > .title {
    font-weight: 500;
    color: @primary-color;
  }
  & > .description {
    color: grey;
  }
  & > .operations {
    float: right;
    display: none;
    :global(.anticon) {
      color: @primary-color;
      font-size: 15px;
      padding: 5px;
      cursor: pointer;
    }
  }
}

.columnName {
  color: 'black';
  display: 'block';
  font-weight: 600;
  padding: 2px;
}

.columnType {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  padding: 2px;
}

.columnType2 {
  display: block;
  font-size: 0.9em;
  color: @primary-color;
  padding: 2px;
  width: 100%;
  cursor: pointer;
}

.typeDialog {
  padding: 5px;
  position: absolute;
  background: white;
  max-height: 600px;
  overflow: auto;
  // border: @primary-color 1px solid;
  box-shadow: 2px 2px 20px 0 #cacaca;
}

.typeItem {
  border-bottom: #efefef 1px solid;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  &:hover {
    background: lighten(@primary-color, 10%);
    color: white;
  }
}
.typeItemSelected {
  background: @primary-color;
  color: white;
}

.table {
  background: white;
  & :global(.rt-td) {
    padding: 4px !important;
  }
  :global(.rt-th) {
    padding: 2px !important;
    cursor: pointer;
  }
  .selected {
    background: #d5ebff;
  }
  .headerWrapper {
    padding: 5px;
  }
}

.contextMenu {
  box-shadow: 2px 2px 20px 0 #cacaca;
  position: absolute;
  background: white;
  min-width: 100px;
  padding: 5px;
  z-index: 1000;
}

.menuItem {
  padding: 5px;
  cursor: pointer;
  border-bottom: #efefef 1px solid;
  &:hover {
    color: white;
    background: @primary-color;
  }
}

.historyList {
  overflow: auto;
  width: 100%;
}

.null {
  color: white;
  background: @primary-color;
}

.center {
  text-align: center;
}

.formItem {
  margin-bottom: 10px;
}
