<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project X</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link href="/loading/pace-theme-center-simple.css" rel="stylesheet" />
  <script src="/loading/pace.min.js"></script>
  <script src="/lib/go.js"></script>
</head>

<body>
  <div id="root">
    <style>
      .container {
        width:100%;
        height:100%;
        text-align: center;
        padding-top: 200px;
      }
      .container h1 {
        font-size: 1.2em;
      }
    </style>
    <div class="container">
    </div>

  </div>
</body>

</html>
