@import '~antd/lib/style/themes/default.less';
.table {
  & table {
    font-size: 11px !important;

    & td {
      padding: 4px;
    }
  }
}

.tableWrapper {
  text-align: center;
  margin: auto auto;
  min-height: 200px;
}

.notTable {
  margin-top: 100px;
}

.columnHeader {
  text-align: center;

  .columnName {
    font-size: 1.2em;
    font-weight: bold;
  }
  .columnType {
    font-size: 0.9em;
    font-weight: normal;
    font-style: italic;
  }
  .columnType2 {
    color: @primary-color;
    font-weight: bold;
  }
}
