
.toggleTrigger {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  align-items: center;

  :global(.anticon) {
    border: 1px solid #afcdec;
    background: #cacaca;
    padding: 14px 2px;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
  }

  :global(.anticon:hover) {
    cursor: pointer;
    background-color: #096dd9;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    color: white;
  }
}

.toggleTriggerLR {
  height: 100%;
  width: 20px;
  top: 0;
}

.toggleTrigger-left {
  .toggleTriggerLR;
  left: 0;
}

.toggleTrigger-right {
  .toggleTriggerLR;
  right: 0;
}
